:root {
  --wrapper-width: calc(100% - 8rem);
  --navbar-height: 4rem;
}

/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
}

.navbar__wrapper {
  width: var(--wrapper-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar__links {
  display: flex;
  gap: 2rem;
}

.navbar__link {
  font-weight: 500;
  text-transform: uppercase;
}

.navbar__toggler {
  --button-size-x: 2rem;
  --button-size-y: 1.25rem;
  display: none;
  width: var(--button-size-x);
  height: var(--button-size-y);
  background-color: white;
  cursor: pointer;
}

.navbar__toggler span {
  display: block;
  width: 100%;
  height: 0.25rem;
  background-color: #000;
  transition: all ease-in-out 250ms;
}

.navbar__toggler.active span:nth-child(1) {
  transform: rotate(45deg) translateY(0.70rem);
}

.navbar__toggler.active span:nth-child(2) {
  opacity: 0;
  /* display: none; */
}

.navbar__toggler.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-0.70rem);
}

@media screen and (max-width: 768px) {
  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    height: 100svh;
    transition: all ease-in-out 250ms;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar__link {
    font-size: 2rem;
    display: block;
  }

  .navbar__links.active {
    display: flex;
    left: 0;
  }

  .navbar__toggler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.landing-page {
  max-width: 100%;
  min-height: 100svh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page__wrapper {
  max-width: var(--wrapper-width);
}

.landing-page__title {
  font-size: 4rem;
  font-weight: 600;
}

.landing-page__subtitle {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  word-spacing: .1rem;
  margin-block-start: 1rem;
}

.landing-page__button {
  display: inline-block;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: hsl(210, 100%, 56%);
  color: #fff;
  font-weight: 600;
  border-radius: .25rem;
  margin-block-start: 2rem;
}

.landing-page__button:hover {
  background-color: hsl(210, 100%, 40%);
}

.wrapper {
  max-width: var(--wrapper-width);
  margin-inline: auto;
}

.section p {
  margin-block: 1rem;
  font-size: 1.125rem;
}